<div class="row">
    <div class="span3" id="footer-widget-area-1">

        <div class="widget widget_text">

            <h4 class="widget-title">A Propos de SAS</h4>

            <div class="textwidget">

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sodales cursus metus. Aliquam accumsan pretium
                    tellus, ac adipiscing metus dignissim in. Pellentesque vel porta libero, sit amet commodo nibh. </p>

                <p>Convallis, hendrerit lobortis nisl. Fusce sagittis erat felis, sed varius nibh convallis non. Sed accumsan
                    lobortis sollicitudin. Vestibulum varius cursus pharetra. Vivamus tincidunt nisi et auctor mattis. Aliquam
                    bibendum dui purus.</p>

            </div><!-- edn .textwidget -->

        </div><!-- end .widget_text -->

    </div><!-- end .span3 -->
    <div class="span3" id="footer-widget-area-2">

        <div class="widget widget_recent_entries">

            <h4 class="widget-title">Actualite</h4>

            <ul>
                <li>
                    {% set runtimeConfig = {"thumbnail": {"size": [1920, 650] }} %}
                    <img src="{{ 'front/content/blog-post/70x70-1.png' | imagine_filter('my_thumb', runtimeConfig) }}" />


                    <a href="#">Aliquam accumsan pretium volutpat. </a>

                    <p class="post-date"><small>22 Nov by <a href="#">Admin</a> in <a href="#">News</a></small></p>

                </li>
                <li>

                    {% set runtimeConfig = {"thumbnail": {"size": [1920, 650] }} %}
                    <img src="{{ 'front/content/blog-post/70x70-2.png' | imagine_filter('my_thumb', runtimeConfig) }}" />


                    <a href="#">Fusce sagittis erat felis varius duis.</a>

                    <p class="post-date"><small>20 Nov by <a href="">Admin</a> in <a href="#">News</a></small></p>

                </li>
                <li>

                    {% set runtimeConfig = {"thumbnail": {"size": [1920, 650] }} %}
                    <img src="{{ 'front/content/blog-post/70x70-3.png' | imagine_filter('my_thumb', runtimeConfig) }}" />


                    <a href="index.html#">Vivamus tincidunt nisi et dolor auctor.</a>

                    <p class="post-date"><small>20 Nov by <a href="">Admin</a> in <a href="#">News</a></small></p>

                </li>
            </ul>

        </div><!-- end .widget_recent_entries -->

    </div><!-- end .span3 -->
    <div class="span3" id="footer-widget-area-3">

        <div class="widget ewf_widget_flickr">

            <h4 class="widget-title">Flickr</h4>

            <div class="flickr-feed">
            </div>

        </div><!-- end .ewf_widget_flickr -->

    </div><!-- end .span3 -->
    <div class="span3" id="footer-widget-area-4">

        <div class="widget widget_text">

            <h4 class="widget-title">Trouver Nous</h4>

            <div class="textwidget">

                Lorem ipsum dolor sit amet, consectetur adipiscing elit etiam sodales.

            </div><!-- edn .textwidget -->

        </div><!-- end .widget_text -->

        <div class="widget ewf_widget_contact_info">

            <h4 class="widget-title">Address</h4>

            <ul>
                <li>
                            	<span>
                                	<i class="ifc-home"></i>
                                </span>
                    616 Travis Street, Palm Beach,  FL 3340, United States
                </li>
                <li>
                            	<span>
                                	<i class="ifc-phone2"></i>
                                </span>
                    +1 (234) 567 890
                </li>
                <li>
                            	<span>
                                	<i class="ifc-message"></i>
                                </span>
                    <a href="mailto:#">contact@sas-mali.com</a>
                </li>
            </ul>

        </div><!-- end .ewf_widget_contact_info -->

    </div><!-- end .span3 -->
</div><!-- end .row -->