<div id="header-top">

    <!-- /// HEADER-TOP  //////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <div class="row">
        <div class="span6" id="header-top-widget-area-1">

            <div class="widget widget_text">

                <div class="textwidget">
                    <p class="last">Château Secteur  I  Gao Mali</p>
                </div><!-- edn .textwidget -->

            </div><!-- end .widget_text -->

        </div><!-- end .span6 -->
        <div class="span6" id="header-top-widget-area-2">

            <div class="widget ewf_widget_contact_info">

                <ul>
                    <li>
                            	<span>
                                	<i class="ifc-phone1"></i>
                                </span>
                        (+223) 76 05 14 41
                    </li>
                    <li>
                            	<span>
                                	<i class="ifc-message"></i>
                                </span>
                        <a href="mailto:#">contact@sas-mali.com</a>
                    </li>
                </ul>

            </div><!-- end .ewf_widget_contact_info -->

        </div><!-- end .span6 -->
    </div><!-- end .row -->
    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

</div><!-- end #header-top -->